<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atomitos</title>
  <link rel="icon" href="/logo123.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Estilos personalizados */
    body {
      display: flex;
      background-color: rgb(50, 47, 47);
    color: bisque;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center; /* Alinea los elementos horizontalmente al centro */
      justify-content: center; /* Alinea los elementos verticalmente al centro */
    }

    .obj1,
    .obj2 {
      margin: 5px; /* Agrega un espacio entre los elementos si lo deseas */
    }

    .botonGen {
      background-color: rgb(0, 0, 0) !important;
    }
    #contenido{
      display: flex;
    }
  </style>
</head>
<body>
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/logo123.png" alt="" style="max-height: 200px; max-width: 150px;">
        </a>
        <a class="navbar-brand" href="#" style="font-size: 40px;">Los Atomitos 777</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          </ul>
        </div>
      </div>
    </nav>
  </div>


    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5" id="contenido"></h1>
      <button class="btn btn-primary" id="botonGenerar">Generar Letras</button>
    </main>
    
    <script src="/script/client.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
